body {
    background-color: red;
    color: yellow;
}

h1 {
    text-align: center;
    margin: 50px auto;
    font-size: 4em;
    font-family:Impact, 
    Haettenschweiler, 
    'Arial Narrow Bold', 
    sans-serif;
}

#container {
    display: flex;
    flex-wrap: wrap;
    margin: auto 20%;
}

.grid-div {
    flex-basis: calc(100% / 16);
    width: 20px;
    height: 35px;
    background-color: gray;
}